version: '3.8'

services:
  # 1. Tu servicio de Ingesta/OCR (PrismaFinance Ingest)
  ingestion-service:
    build: ./ingest
    ports:
      - "8000:8000"  # API Ingesta
      - "9999:9999"  # API OCR interno
    env_file:
      - ./ingest/.env
    environment:
      - OCR_ENDPOINT=http://localhost:9999/ocr  # Loopback interno en el container
      - OCR_ENGINE_NAME=rapidocr
    volumes:
      - ./ingest:/app

  # 2. Base de Datos de Grafos (Neo4j)
  neo4j-db:
    image: neo4j:5.15
    ports:
      - "7474:7474" # HTTP Browser
      - "7687:7687" # Bolt connection
    environment:
      - NEO4J_AUTH=neo4j/prismafinance123  # Cambia esto en producción
      - NEO4J_PLUGINS=["apoc"]             # Útil para algoritmos de grafo
    volumes:
      - neo4j_data:/data

  # 3. LLM Local (Ollama) - Requisito de soberanía de datos [cite: 351]
  ollama-service:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama

  # 4. Mini Agente de Construcción de Grafo (LangChain)
  graph-agent:
      build: ./Agent
      ports:
        - "8081:8081"  # <--- Puerto para Open WebUI
      depends_on:
        - ingestion-service
        - neo4j-db
        - ollama-service
      environment:
        - NEO4J_URI=bolt://neo4j-db:7687
        - NEO4J_USERNAME=neo4j
        - NEO4J_PASSWORD=prismafinance123
        # URL interna para que la API llame a la Ingesta
        - INGESTION_URL=http://ingestion-service:8000
        - OLLAMA_BASE_URL=http://ollama-service:11434
        # --- ESTO ES LO NUEVO ---
      volumes:
        - ./Documentos_Recibidos:/app/backups

    # 5. Servicio MCP Oficial (Conecta Open WebUI con Neo4j)
  neo4j-mcp:
    build: ./MCP
    ports:
      - "8082:8082"
    depends_on:
      - neo4j-db
    environment:
      # Credenciales para que el MCP hable con la BD
      - NEO4J_URI=bolt://neo4j-db:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=prismafinance123
      # Nivel de permisos (READ/WRITE)
      - MCP_NEO4J_MODE=READ_WRITE
      

volumes:
  neo4j_data:
  ollama_storage: