fastapi
uvicorn
python-multipart
requests
# Stack estable 0.2 (Todo incluido)
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-experimental==0.0.64
neo4j
json-repair
pydantic